REACT_APP_FIREBASE_API_KEY="AIzaSyB9G_7nb0FC2FQKwVBDHtcCh7XBc_E2OHE"
REACT_APP_FIREBASE_AUTH_DOMAIN="smart-wheelchair-91084.firebaseapp.com"
REACT_APP_FIREBASE_PROJECT_ID="smart-wheelchair-91084"
REACT_APP_FIREBASE_STORAGE_BUCKET="smart-wheelchair-91084.firebasestorage.app"
REACT_APP_FIREBASE_MESSAGING_SENDER_ID="88128127316"
REACT_APP_FIREBASE_APP_ID="1:88128127316:web:aa9da303d1b7d44a86c8c1"
REACT_APP_FIREBASE_MEASUREMENT_ID="G-9QP908KEMF"